.emojilist {
    position: static;
  }
  
.emojitile {
    align-items: center;
    justify-content: center;
}

.markerlist {
  position: static;
}

.markertile {
  align-items: center;
  justify-content: center;
}