.emoji-card {
    max-width: 400px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
  }
  
.tile {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}